*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 255, 237);
    font-family: 'Poppins', sans-serif;
    position: relative;
}

header{
    position: fixed;
    top: 12px;
    right: 12px;
    left: 12px;
    z-index: 999;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    padding: 12px 16px;
    height: 72px;

    border-radius: 12px;
}

.logo{
    width: 24px;
    height: 24px;
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 12px;
}


.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-gap: 2px;

    height: 24px;
    width: 24px;
}
.hamburger__line{
    background-color: gray;
    width: 24px;
    height: 2px;
    border-radius: 3px;
}

.hamburger__line:first-of-type{
    width: 12px;
}
.hamburger__line:nth-of-type(2){
    width: 20px;
}


/* MAIN */
main{
    padding: 0 12px;
    padding-top: 96px;
}

h1{
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 12px;
}

p{
    color: gray;
    font-size: 16px;
    line-height: 150%;
}

.section__main{
    padding: 36px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button__holder{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 12px;
}
.cta{
    width: 100%;
    padding: 12px 20px;
}

.cta__filled{
    background-color: rgb(255, 201, 101);
    border: none;
    border-radius: 12px;
}
.cta__outlined{
    border: 2px solid rgb(255, 201, 101);
    background-color: transparent;
    border-radius: 12px;
}

.main__image{
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 20px;
    margin-bottom: 32px;
}

/* Hotel */
.section__recommended{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.hotel{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.hotel > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.hotel__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    top: 0;
    left: 0;
}
.hotel__info{
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: white;
}
.price{
    font-size: 12px;
}
.heart{
    position: absolute;
    top: 12px;
    right: 12px;

    width: 32px;
    height: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    padding: 12px;
    background-color: white;
}

.heart > img{
    width: 16px;
    height: 16px;
    object-fit: contain;
}